1)A list can be defined as object that are  contained in one or more items of different data types in the square brackets [] separated by a comma.  while Tuples are defined by enclosing elements in parentheses (), separated by a comma 
2)-strings
 -integers
 -floats
 -Boolean
3)-local variable can be defined as variable that is defined inside a function
 -Global variable can be defined as variable that is defined outside a function
4)
5)

In [1]:
import pymysql

In [2]:
mydb=pymysql.connect(
    host='localhost',
    user='root',
    password='ifeanyi110',
    database='studentmanagementsystem'
)
mycursor=mydb.cursor()

In [4]:
mycursor.execute('select count(age) as result from studentper')
for x in mycursor:
    print(x)

(245,)

In [5]:
mycursor.execute('select count(distinct age) as result from studentper')
for x in mycursor:
    print(x)

(6,)

In [8]:
mycursor.execute('select sum(JS11st) as result from studentper')
for x in mycursor:
    print(x)

(Decimal('16983'),)

In [11]:
mycursor.execute('select Mjob, sum(JS11st) as result from studentper group by Mjob')
for x in mycursor:
    print(x)

('OTHER', Decimal('3913'))
('at_home', Decimal('219'))
('TEACHER', Decimal('1948'))
('CIVIL SERVANT', Decimal('347'))
('ADMIN', Decimal('5523'))
('HEALTH', Decimal('2077'))
('POLICE', Decimal('433'))
('CRAFT', Decimal('689'))
('BUSINESS', Decimal('1285'))
('FARMER', Decimal('549'))

In [12]:
mycursor.execute('select age,count(age) as result from studentper group by age')
for x in mycursor:
    print(x)

(13, 84)
(12, 68)
(11, 17)
(14, 57)
(10, 6)
(15, 13)

In [13]:
mycursor.execute('select Mjob, avg(JS11st) as result from studentper group by Mjob')
for x in mycursor:
    print(x)

('OTHER', Decimal('68.6491'))
('at_home', Decimal('73.0000'))
('TEACHER', Decimal('69.5714'))
('CIVIL SERVANT', Decimal('69.4000'))
('ADMIN', Decimal('69.9114'))
('HEALTH', Decimal('67.0000'))
('POLICE', Decimal('72.1667'))
('CRAFT', Decimal('68.9000'))
('BUSINESS', Decimal('71.3889'))
('FARMER', Decimal('68.6250'))

In [14]:
mycursor.execute('select  avg(JS11st) as result from studentper ')
for x in mycursor:
    print(x)

(Decimal('69.3184'),)

In [15]:
mycursor.execute('select  min(JS11st) as result from studentper ')
for x in mycursor:
    print(x)

(45,)

In [16]:
mycursor.execute('select  max(JS11st) as result from studentper ')
for x in mycursor:
    print(x)

(98,)

In [21]:
mycursor.execute('select * from studentper limit 1')
for x in mycursor:
    print(x)

('M', 13, 'RURAL', 'GT3', 'T', 1, 0, 'OTHER', 'OTHER', 'mother', 3, 2, 'no', 4, 'no', 1, 'yes', 'yes', 'no', 68, 69, 70, 71, 72, 69, 72, 70)

In [23]:
mycursor.execute('select * from studentper order by age desc limit 4')
for x in mycursor:
    print(x)

('M', 15, 'URBAN', 'GT3', 'T', 3, 2, 'HEALTH', 'ADMIN', 'father', 1, 3, 'yes', 3, 'yes', 2, 'yes', 'no', 'yes', 60, 59, 61, 63, 66, 68, 53, 52)
('F', 15, 'URBAN', 'LE3', 'T', 3, 2, 'HEALTH', 'ADMIN', 'father', 2, 1, 'yes', 3, 'yes', 2, 'yes', 'no', 'yes', 71, 72, 73, 75, 71, 70, 69, 70)
('M', 15, 'RURAL', 'GT3', 'A', 0, 0, 'OTHER', 'CLEANER', 'father', 3, 1, 'yes', 5, 'yes', 2, 'yes', 'no', 'yes', 63, 65, 74, 62, 59, 67, 61, 68)
('M', 15, 'RURAL', 'GT3', 'A', 0, 0, 'OTHER', 'CLEANER', 'mother', 3, 1, 'no', 5, 'yes', 2, 'yes', 'no', 'yes', 70, 69, 68, 66, 62, 61, 68, 69)