In [4]:
import pymysql

In [6]:
mydb= pymysql.connect(
    host='localhost',
    user='root',
    password='ifeanyi110'
)
mycursor=mydb.cursor()

In [7]:
mycursor.execute('create database school_management_system')

1

In [11]:
mydb= pymysql.connect(
    host='localhost',
    user='root',
    password='ifeanyi110',
    database='school_management_system'
)
mycursor=mydb.cursor()

In [1]:
mycursor.execute('create table stafftable(id int not null primary key,staffname text not null,staffgender text not null,\
staffaddress text not null,staffcontact text not null)')
mycursor.execute('create table studenttable(id int not null primary key,sname text not null,age int not null,gender text not null,address text not null,class text not null)')
mycursor.execute('create table librarytable(bookid int not null primary key,Bname text not null, class text not null)')

NameError: name 'mycursor' is not defined

In [20]:
mycursor.execute('select * from studenttable where gender ="F" and class= "primary 2"')
for x in mycursor:
    print(x)

(1, 'Ada Ego', 18, 'F', 'FCT', 'Primary 2')

In [21]:
mycursor.execute('select * from studenttable where gender ="F" or class= "primary 2"')
for x in mycursor:
    print(x)

(1, 'Ada Ego', 18, 'F', 'FCT', 'Primary 2')
(4, 'Cesa Dosa', 17, 'F', 'EDO', 'Primary 4')
(5, 'Dotun Bella', 19, 'F', 'KADUNA', 'Primary 6')
(6, 'Deji Chuchi', 18, 'F', 'KANO', 'Primary 4')
(7, 'Reachel Asily', 14, 'F', 'DELTA', 'Primary 3')
(8, 'Yero Wakil', 15, 'M', 'IMO', 'Primary 2')
(9, 'Amaka Nnaka', 17, 'F', 'ANAMBRA', 'Primary 1')

In [25]:
mycursor.execute('select * from studenttable where sname like "Ad%"')
for x in mycursor:
    print(x)

(1, 'Ada Ego', 18, 'F', 'FCT', 'Primary 2')

In [32]:
mycursor.execute('select * from studenttable where sname like"__a%"')
for x in mycursor:
    print(x)

(1, 'Ada Ego', 18, 'F', 'FCT', 'Primary 2')
(7, 'Reachel Asily', 14, 'F', 'DELTA', 'Primary 3')
(9, 'Amaka Nnaka', 17, 'F', 'ANAMBRA', 'Primary 1')

In [33]:
mycursor.execute('select * from studenttable where class in("primary 2","primary 4")')
for x in mycursor:
    print(x)

(1, 'Ada Ego', 18, 'F', 'FCT', 'Primary 2')
(3, 'Ekis Elop', 14, 'M', 'LAGOS', 'Primary 4')
(4, 'Cesa Dosa', 17, 'F', 'EDO', 'Primary 4')
(6, 'Deji Chuchi', 18, 'F', 'KANO', 'Primary 4')
(8, 'Yero Wakil', 15, 'M', 'IMO', 'Primary 2')

In [34]:
mycursor.execute('select * from studenttable where class is null')
for x in mycursor:
    print(x)

In [35]:
mycursor.execute('select * from studenttable where class is not null')
for x in mycursor:
    print(x)

(1, 'Ada Ego', 18, 'F', 'FCT', 'Primary 2')
(2, 'Famil Mono', 13, 'M', 'KOGI', 'Primary 3')
(3, 'Ekis Elop', 14, 'M', 'LAGOS', 'Primary 4')
(4, 'Cesa Dosa', 17, 'F', 'EDO', 'Primary 4')
(5, 'Dotun Bella', 19, 'F', 'KADUNA', 'Primary 6')
(6, 'Deji Chuchi', 18, 'F', 'KANO', 'Primary 4')
(7, 'Reachel Asily', 14, 'F', 'DELTA', 'Primary 3')
(8, 'Yero Wakil', 15, 'M', 'IMO', 'Primary 2')
(9, 'Amaka Nnaka', 17, 'F', 'ANAMBRA', 'Primary 1')
(10, 'Cocok Dallas', 19, 'M', 'RIVERS', 'Primary 3')

In [37]:
mycursor.execute('select * from studenttable where age between 13 and 15')
for x in mycursor:
    print(x)

(2, 'Famil Mono', 13, 'M', 'KOGI', 'Primary 3')
(3, 'Ekis Elop', 14, 'M', 'LAGOS', 'Primary 4')
(7, 'Reachel Asily', 14, 'F', 'DELTA', 'Primary 3')
(8, 'Yero Wakil', 15, 'M', 'IMO', 'Primary 2')

In [45]:
mycursor.execute('select studenttable.sname,studenttable.age,studenttable.class,stafftable.staffname,stafftable.classteachear from studenttable inner join stafftable on studenttable.id=stafftable.id')
for x in mycursor:
    print(x)

('Ada Ego', 18, 'Primary 2', 'Eky Imasi', 'Primary 2')
('Famil Mono', 13, 'Primary 3', 'Ernest Chuks', 'Head Teacher')
('Ekis Elop', 14, 'Primary 4', 'Amaka Emaka', 'Primary 3')
('Cesa Dosa', 17, 'Primary 4', 'Joy Kess', 'Cleaner')
('Dotun Bella', 19, 'Primary 6', 'Kelly Roy', 'Security')
('Deji Chuchi', 18, 'Primary 4', 'Samsom Lobi', 'Non-Academic')
('Reachel Asily', 14, 'Primary 3', 'Daddy Mummy', 'Primary 5')
('Yero Wakil', 15, 'Primary 2', 'Elo Swag', 'Primary 1')
('Amaka Nnaka', 17, 'Primary 1', 'Phyna Aki', 'Primary 6')
('Cocok Dallas', 19, 'Primary 3', 'Wasiri Khahil', 'Primary 4')

In [47]:
mycursor.execute('select studenttable.sname,studenttable.age,studenttable.class,stafftable.staffname,stafftable.classteachear from studenttable left join stafftable on studenttable.id=stafftable.id')
for x in mycursor:
    print(x)

('Ada Ego', 18, 'Primary 2', 'Eky Imasi', 'Primary 2')
('Famil Mono', 13, 'Primary 3', 'Ernest Chuks', 'Head Teacher')
('Ekis Elop', 14, 'Primary 4', 'Amaka Emaka', 'Primary 3')
('Cesa Dosa', 17, 'Primary 4', 'Joy Kess', 'Cleaner')
('Dotun Bella', 19, 'Primary 6', 'Kelly Roy', 'Security')
('Deji Chuchi', 18, 'Primary 4', 'Samsom Lobi', 'Non-Academic')
('Reachel Asily', 14, 'Primary 3', 'Daddy Mummy', 'Primary 5')
('Yero Wakil', 15, 'Primary 2', 'Elo Swag', 'Primary 1')
('Amaka Nnaka', 17, 'Primary 1', 'Phyna Aki', 'Primary 6')
('Cocok Dallas', 19, 'Primary 3', 'Wasiri Khahil', 'Primary 4')

In [48]:
mycursor.execute('select studenttable.sname,studenttable.age,studenttable.class,stafftable.staffname,stafftable.classteachear from studenttable right join stafftable on studenttable.id=stafftable.id')
for x in mycursor:
    print(x)

('Ada Ego', 18, 'Primary 2', 'Eky Imasi', 'Primary 2')
('Famil Mono', 13, 'Primary 3', 'Ernest Chuks', 'Head Teacher')
('Ekis Elop', 14, 'Primary 4', 'Amaka Emaka', 'Primary 3')
('Cesa Dosa', 17, 'Primary 4', 'Joy Kess', 'Cleaner')
('Dotun Bella', 19, 'Primary 6', 'Kelly Roy', 'Security')
('Deji Chuchi', 18, 'Primary 4', 'Samsom Lobi', 'Non-Academic')
('Reachel Asily', 14, 'Primary 3', 'Daddy Mummy', 'Primary 5')
('Yero Wakil', 15, 'Primary 2', 'Elo Swag', 'Primary 1')
('Amaka Nnaka', 17, 'Primary 1', 'Phyna Aki', 'Primary 6')
('Cocok Dallas', 19, 'Primary 3', 'Wasiri Khahil', 'Primary 4')

In [51]:
mycursor.execute('select sname,age,staffname from studenttable cross join stafftable')
for x in mycursor:
    print(x)

('Cocok Dallas', 19, 'Eky Imasi')
('Amaka Nnaka', 17, 'Eky Imasi')
('Yero Wakil', 15, 'Eky Imasi')
('Reachel Asily', 14, 'Eky Imasi')
('Deji Chuchi', 18, 'Eky Imasi')
('Dotun Bella', 19, 'Eky Imasi')
('Cesa Dosa', 17, 'Eky Imasi')
('Ekis Elop', 14, 'Eky Imasi')
('Famil Mono', 13, 'Eky Imasi')
('Ada Ego', 18, 'Eky Imasi')
('Cocok Dallas', 19, 'Ernest Chuks')
('Amaka Nnaka', 17, 'Ernest Chuks')
('Yero Wakil', 15, 'Ernest Chuks')
('Reachel Asily', 14, 'Ernest Chuks')
('Deji Chuchi', 18, 'Ernest Chuks')
('Dotun Bella', 19, 'Ernest Chuks')
('Cesa Dosa', 17, 'Ernest Chuks')
('Ekis Elop', 14, 'Ernest Chuks')
('Famil Mono', 13, 'Ernest Chuks')
('Ada Ego', 18, 'Ernest Chuks')
('Cocok Dallas', 19, 'Amaka Emaka')
('Amaka Nnaka', 17, 'Amaka Emaka')
('Yero Wakil', 15, 'Amaka Emaka')
('Reachel Asily', 14, 'Amaka Emaka')
('Deji Chuchi', 18, 'Amaka Emaka')
('Dotun Bella', 19, 'Amaka Emaka')
('Cesa Dosa', 17, 'Amaka Emaka')
('Ekis Elop', 14, 'Amaka Emaka')
('Famil Mono', 13, 'Amaka Emaka')
('Ada Ego', 18, 'Amaka Emaka')
('Cocok Dallas', 19, 'Joy Kess')
('Amaka Nnaka', 17, 'Joy Kess')
('Yero Wakil', 15, 'Joy Kess')
('Reachel Asily', 14, 'Joy Kess')
('Deji Chuchi', 18, 'Joy Kess')
('Dotun Bella', 19, 'Joy Kess')
('Cesa Dosa', 17, 'Joy Kess')
('Ekis Elop', 14, 'Joy Kess')
('Famil Mono', 13, 'Joy Kess')
('Ada Ego', 18, 'Joy Kess')
('Cocok Dallas', 19, 'Kelly Roy')
('Amaka Nnaka', 17, 'Kelly Roy')
('Yero Wakil', 15, 'Kelly Roy')
('Reachel Asily', 14, 'Kelly Roy')
('Deji Chuchi', 18, 'Kelly Roy')
('Dotun Bella', 19, 'Kelly Roy')
('Cesa Dosa', 17, 'Kelly Roy')
('Ekis Elop', 14, 'Kelly Roy')
('Famil Mono', 13, 'Kelly Roy')
('Ada Ego', 18, 'Kelly Roy')
('Cocok Dallas', 19, 'Samsom Lobi')
('Amaka Nnaka', 17, 'Samsom Lobi')
('Yero Wakil', 15, 'Samsom Lobi')
('Reachel Asily', 14, 'Samsom Lobi')
('Deji Chuchi', 18, 'Samsom Lobi')
('Dotun Bella', 19, 'Samsom Lobi')
('Cesa Dosa', 17, 'Samsom Lobi')
('Ekis Elop', 14, 'Samsom Lobi')
('Famil Mono', 13, 'Samsom Lobi')
('Ada Ego', 18, 'Samsom Lobi')
('Cocok Dallas', 19, 'Daddy Mummy')
('Amaka Nnaka', 17, 'Daddy Mummy')
('Yero Wakil', 15, 'Daddy Mummy')
('Reachel Asily', 14, 'Daddy Mummy')
('Deji Chuchi', 18, 'Daddy Mummy')
('Dotun Bella', 19, 'Daddy Mummy')
('Cesa Dosa', 17, 'Daddy Mummy')
('Ekis Elop', 14, 'Daddy Mummy')
('Famil Mono', 13, 'Daddy Mummy')
('Ada Ego', 18, 'Daddy Mummy')
('Cocok Dallas', 19, 'Elo Swag')
('Amaka Nnaka', 17, 'Elo Swag')
('Yero Wakil', 15, 'Elo Swag')
('Reachel Asily', 14, 'Elo Swag')
('Deji Chuchi', 18, 'Elo Swag')
('Dotun Bella', 19, 'Elo Swag')
('Cesa Dosa', 17, 'Elo Swag')
('Ekis Elop', 14, 'Elo Swag')
('Famil Mono', 13, 'Elo Swag')
('Ada Ego', 18, 'Elo Swag')
('Cocok Dallas', 19, 'Phyna Aki')
('Amaka Nnaka', 17, 'Phyna Aki')
('Yero Wakil', 15, 'Phyna Aki')
('Reachel Asily', 14, 'Phyna Aki')
('Deji Chuchi', 18, 'Phyna Aki')
('Dotun Bella', 19, 'Phyna Aki')
('Cesa Dosa', 17, 'Phyna Aki')
('Ekis Elop', 14, 'Phyna Aki')
('Famil Mono', 13, 'Phyna Aki')
('Ada Ego', 18, 'Phyna Aki')
('Cocok Dallas', 19, 'Wasiri Khahil')
('Amaka Nnaka', 17, 'Wasiri Khahil')
('Yero Wakil', 15, 'Wasiri Khahil')
('Reachel Asily', 14, 'Wasiri Khahil')
('Deji Chuchi', 18, 'Wasiri Khahil')
('Dotun Bella', 19, 'Wasiri Khahil')
('Cesa Dosa', 17, 'Wasiri Khahil')
('Ekis Elop', 14, 'Wasiri Khahil')
('Famil Mono', 13, 'Wasiri Khahil')
('Ada Ego', 18, 'Wasiri Khahil')