In [1]:
num2=int(15.5)
print(num2)

15

In [2]:
num3=15
print(float(num3))

15.0

In [3]:
num4=15.5
print(str(num4))

15.5

In [2]:
num5=15.5
print(int(num4))

NameError: name 'num4' is not defined

In [ ]:
word='python'
print(float(word))

In [1]:
num6=int(50)
print(num6)

50

# Operatos

In [8]:
num1=40
num2=20
print(f'{num1} + {num2} = {num1 + num2}')
print(f'{num1} - {num2} = {num1 - num2}')
print(f'{num1} / {num2} = {num1 / num2}')
print(f'{num1} * {num2} = {num1 * num2}')
print(f'{num1} % {num2} = {num1 % num2}')
print(f'{num1} // {num2} = {num1 // num2}')
print(f'{num1} ** {num2} = {num1 ** num2}')

40 + 20 = 60
40 - 20 = 20
40 / 20 = 2.0
40 * 20 = 800
40 % 20 = 0
40 // 20 = 2
40 ** 20 = 109951162777600000000000000000000

# comparism

In [12]:
print(f'{num1} > {num2} = {num1 > num2}')
print(f'{num1} < {num2} = {num1 < num2}')
print(f'{num1} >= {num2} = {num1 >= num2}')
print(f'{num1} <= {num2} = {num1 <= num2}')
print(f'{num1} == {num2} = {num1 == num2}')
print(f'{num1} != {num2} = {num1 != num2}')

40 > 20 = True
40 < 20 = False
40 >= 20 = True
40 <= 20 = False
40 == 20 = False
40 != 20 = True

# logical operators

In [13]:
print(num1 > num2 and num2 == num1)
print(num1 > num2 or num2 == num1)
print(not num1)

False
True
False

# Membership Operators

In [14]:
word='Highlevelprogramminglanguage'
print('E' in word)
print('e' not in word)

False
False

# Identity operators

In [15]:
print(num1 is num2)
print(num2 is not num1)

False
True

# input function

In [16]:
name=input('please provide your name:')

please provide your name:david

In [19]:
age=int(input('please input ypur age:'))

please input ypur age:21

# write a python program to request for cost price of a pen, sellingrice and the quantity purchased and profit made and calculate the profit made

In [21]:
sp= float(input('please provide the selling price:'))
cp=float(input('please provide the cost price:'))
quant=float(input('please provide the quantity purchased:'))
totalcp= cp*quant
totalsp= sp*quant
profit= totalsp-totalcp
print(f' the profit made on {quant}pen sold for {sp} rate is {profit}')

please provide the selling price:40
please provide the cost price:60
please provide the quantity purchased:20
 the profit made on 20.0pen sold for 40.0 rate is -400.0